<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<title>Employee Registration</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta name="google-signin-client_id"
          content="74762002370-mg6bpr7l55e99v33lsih89cok7i7c07p.apps.googleusercontent.com">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
            body {background-color:#eee;}
            .container-fluid {padding:50px;}
            .container{background-color:white;padding:50px;   }
            #title{font-family: 'Lobster', cursive;;}
            .btn-primary{background:#1069A8}
    </style>
</head>
<body>

{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="container">
        <h2 class="text-center" id="title">Employee Management</h2>
        <hr>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/employee/employee/">Employee Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employee/employeeDetails/">Employee Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #00008B;">Welcome {{user.first_name}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/employee/logout/'>Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr>
        <div class="col-sm-12" align="center">
            <div align="center" class="col-sm-6">
                <form name="emp_register" method="POST" id="emp_register">
                    {% csrf_token %}
                    <fieldset>
                        <div class="row">
                            <div class="form-group">
                                <input type="text" name="first_name" id="first_name" class="form-control input-lg"
                                       placeholder="First Name">
                                <label id="firstname_error" class="invalid-feedback"></label>
                            </div>
                            <div class="form-group">
                                <input type="text" name="last_name" id="last_name" class="form-control input-lg"
                                       placeholder="Last Name">
                                <label id="lastname_error" class="invalid-feedback"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-lg"
                                       placeholder="Email Address">
                                <label id="email_error" class="invalid-feedback"></label>
                            </div>

                            <div class="form-group">
                                <input type="text" name="mobile" id="mobile" class="form-control input-lg"
                                       placeholder="Mobile" maxlength="10" minlength="10" onkeypress="return isNumberKey(event)">
                                <label id="mobile_error" class="invalid-feedback"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <input type="text" name="department" id="department" class="form-control input-lg"
                                       placeholder="Department">
                                <label id="department_error" class="invalid-feedback"></label>
                            </div>

                            <div class="form-group">
                                <input type="text" name="city" id="city" class="form-control input-lg"
                                       placeholder="City">
                                <label id="city_error" class="invalid-feedback"></label>
                            </div>
                        </div>
                        <div>
                            <button type="button" onclick="emp_register_c()" class="btn btn-primary">Create Account
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js_block %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="{% static 'employee/js/employee.js' %}" type="text/javascript"></script>
{% endblock %}
</body>
</html>